---
import { manifest } from "astro:ssr-manifest";
import Header from "../components/Header.astro";
const {language, langSwitch}=Astro.props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>The Storyblok Astro Ultimate Tutorial: Part 1</title>
  </head>
  <body class="mx-auto">
    <Header language={language} langSwitch={langSwitch} />
    <slot />
  </body>
</html>
